*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.container {
  width: 1188px;
  margin: 0 auto;
}
.body {
  background: #FBF8F5;
}